<h1>New message</h1>

<% if @message.errors.any? %>
  <p> Something went wrong:</p>
  <ul>
    <% @message.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>




  <%= form_for @message do |f| %>
    <div class="form-group">
      <%= f.label :to %>: <br>
      <%= f.collection_check_boxes(:to, Contact.all, :phone_number, :name, :include_hidden => false, class: "form-group") %>
    </div>

    <!-- <%= f.fields_for @message.contacts.build do |contact_form|%>
      <%= f.label "new_contact_name:" %>
      <%= contact_form.text_field :name %>
      <%= f.label "new_contact_number:" %>
      <%= contact_form.text_field :phone_number %>
    <% end %> -->

    <!-- <div class="form-group">
      <%= f.label :from %>:
      <%= f.text_field :from %>
    </div> -->
    <div class="form-group">
      <%= f.label :body %>:
      <%= f.text_field :body %>
    </div>
    <%= f.submit %>
  <% end %>
